<div class="grid-x grid-margin-x">
  <div class="small-6 cell">
    <h3 class="heading" id="heading1" data-intro="Another step.">QTS Portal</h3>
  </div>
  <div class="small-6 cell text-right">
    <button class="button secondary tiny hollow" (click)="startTour()"><fa-icon [icon]="faMapSigns" [fixedWidth]="true" size="lg"></fa-icon> <span i18n>Take a Tour</span></button>
  </div><!-- /cell-->
</div><!-- /grid -->

<div id="step3" class="grid-x grid-margin-x grid-margin-y">
  <div class="medium-8 large-5 cell promo-area" id="promoarea">

    <div class="grid-x">
      <div class="medium-6 small-order-2 medium-order-1 cell">
        <img src="../../../assets/img/banners/banner-assets/smartData_activeCars_BG.png">
      </div>
      <div class="medium-6 small-order-1 medium-order-2 cell promo-text">
        <h3>SmartData<sup>&trade;</sup></h3>
        <p i18n>See a quick overview on what matters most for your business.</p>
        <button class="button secondary tiny" i18n>Learn More</button>
      </div>
    </div>

  </div><!-- /cell -->
  <div class="medium-1 show-for-medium cell"></div><!--  Spacer due to For Loop below -->

  <div class="small-6 medium-3 large-2 cell app-block" *ngFor="let app of apps">
    <a href="{{app.link}}" class="app-link {{app.styleName}}">
      <fa-icon [icon]="app.icon" [fixedWidth]="true" size="4x" class="align-middle"></fa-icon> 
    </a>
    <a href="{{app.link}}" class="portalAppName">{{ app.fullName }}</a>
  </div><!-- /cell -->  
</div><!-- /grid -->