<a (click)="skipLink()" 
  href 
  onclick="return false;" 
  class="show-on-focus" 
  accesskey="k">
  Skip to Content
</a>
<div class="grid-container-fluid">
  <div class="grid-x">
    <div class="small-12 cell">
      <span #top></span>
      <header class="top-bar">
        <div class="top-bar-left">
          <div class="hamburger hide-for-medium" [attr.aria-expanded]="!isOffcanvas" aria-controls="offCanvasMenu" (click)="offcanvas.show()">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </div>
          <div class="appName">
            <a routerLink="/portal" title="QTS Home">
              <div class="mainlogo">
              </div>
            </a>
          </div>
        </div>
        <nav class="top-bar-right hide-for-small-only">
          <app-main-nav></app-main-nav>
        </nav>
        
        <nav [offcanvas]="isOffcanvas" class="off-canvas position-left" id="offCanvasMenu" aria-hidden="true" #offcanvas="bs-offcanvas"> 
          <app-main-nav></app-main-nav> 
          <button class="close-button" aria-label="Close Menu" aria-controls="offCanvasMenu" type="button" (click)="offcanvas.hide()">
            <span aria-hidden="true">×</span>
          </button>
        </nav>
      </header>
    </div><!-- / Parent cell -->
  </div><!-- /grid-x -->
</div><!-- /grid-container-fluid -->
