<div class="grid-x grid-margin-x">
  <div class="small-12 cell">
    <p>
      <a routerLink="/portal">
        <fa-icon [icon]="faArrowAltCircleLeft" [fixedWidth]="true"></fa-icon> Back to Previous Page 
      </a><br>
    </p>
  </div><!-- /cell -->
  <div class="small-12 cell">
    <h3 i18n="@@Myaccount_title">My Account</h3>
    <app-callout-message></app-callout-message>
  </div><!-- /cell -->
</div><!-- /grid -->

<div class="grid-x grid-margin-x">
  <div class="medium-6 cell">
    <h4>Basic Information</h4>
    <form (ngSubmit)="onSubmit()" #basicInfoForm="ngForm">
      <div class="grid-x">
        <div class="large-9 cell">
          <label for="username" class="required">User ID</label>
          <input id="username"
            required
            [value]="currentUser.username"
            [(ngModel)]="currentUser.username" 
            name="username"
            #username="ngModel" 
            type="text" 
            aria-errormessage="usernameError" />
          <div [hidden]="username.valid || username.pristine"
            class="form-error"
            id="usernameError">
            User ID is required
          </div>
        </div><!-- /cell -->

        <div class="large-9 cell">
          <label for="firstName" class="required">First Name</label>
          <input id="firstName"
            required 
            name="firstName"
            #firstName="ngModel"
            type="text"
            [value]="currentUser.firstName" 
            [(ngModel)]="currentUser.firstName" 
            aria-errormessage="firstnameError" />
          <div [hidden]="firstName.valid || firstName.pristine"
            class="form-error"
            id="firstNameError">
            First Name is required
          </div>
        </div><!-- /cell -->

        <div class="large-9 cell">
          <label for="lastName" class="required">Last Name</label>
          <input id="lastName"
            name="lastName"
            #lastName="ngModel" 
            required
            type="text" 
            [value]="currentUser.lastName"
            [(ngModel)]="currentUser.lastName" 
            aria-errormessage="lastnameError" />
          <div [hidden]="lastName.valid || lastName.pristine"
            class="form-error"
            id="lastNameError">
            Last Name is required
          </div>
        </div><!-- /cell -->

        <div class="large-9 cell">
          <label for="emailAddress" class="required">Email Address</label>
          <input id="emailAddress"
            name="emailAddress"
            #emailAddress="ngModel" 
            required
            type="email" 
            [value]="currentUser.emailAddress"
            [(ngModel)]="currentUser.emailAddress" 
            aria-errormessage="emailAddressError" />
          <div [hidden]="emailAddress.valid || emailAddress.pristine"
            class="form-error"
            id="emailAddressError">
            Email Address is required
          </div>
        </div><!-- /cell -->
      </div><!-- /grid -->
      <div class="btn-cont">
        <button class="button secondary" type="submit" [disabled]="!basicInfoForm.form.valid">Update</button>
        <button class="button primary" type="reset" (click)="revert()">Clear Form</button>
        <p>
          Debugging: {{currentUser.username}} {{currentUser.firstName}} {{currentUser.lastName}} {{currentUser.emailAddress}}
        </p>
      </div>
    </form>
  </div><!-- /Parent cell-->

  <div class="medium-6 cell">
    <h4>Change My Password</h4>
    <form (ngSubmit)="onSubmit()" #changePasswordForm="ngForm">
    <div class="grid-x">
      <div class="large-9 cell">
        <label for="password">Verify Current Password</label>
        <input id="password"
          required 
          name="password"
          #password="ngModel"
          [(ngModel)]="currentUser.password" 
          type="password" 
          aria-errormessage="passwordError" />
        <div [hidden]="password.valid || password.pristine"
          class="form-error"
          id="passwordError">
          Password is incorrect
        </div>
      </div><!-- /cell -->

      <div class="large-9 cell">
        <label for="newPassword">New Password</label>
        <input id="newPassword"
          required 
          name="newPassword"
          #newPassword="ngModel"
          [(ngModel)]="currentUser.newPassword"
          type="password"  
          aria-errormessage="newPasswordError" />

        <div [hidden]="newPassword.valid || newPassword.pristine"
          class="form-error"
          id="newPasswordError">
          Passwords must match.
        </div>

        <div class="grid-x">
          <div class="medium-6 cell">
            <ul class="help-text">
              <li>One uppercase character</li>  
              <li>One lowercase character</li>
              <li>One number</li>
            </ul>
          </div>
          <div class="medium-6 cell">
            <ul class="help-text">
              <li>One special character</li>
              <li>8 characters minimum</li>
            </ul>
          </div>
        </div>
              
      </div><!-- /cell -->

      <div class="large-9 cell">
        <label for="confirmPassword">Confirm New Password</label>
        <input id="confirmPassword"
        required 
          name="confirmPassword"
          #confirmPassword="ngModel"
          [(ngModel)]="currentUser.confirmPassword"
          type="password" 
          aria-errormessage="newPasswordMatchError" />
        <div [hidden]="confirmPassword.valid || confirmPassword.pristine"
          class="form-error"
          id="newPasswordError">
          Passwords must match.
        </div>
      </div><!-- /cell -->
    </div><!-- /grid -->

    <div class="btn-cont">
      <button class="button secondary" type="submit" [disabled]="!changePasswordForm.form.valid">Update</button>
      <button class="button primary" type="reset" (click)="revert()">Clear Form</button>
    </div>
    </form>
  </div><!-- /Parent cell -->
</div><!-- /Parent grid -->
